* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: BrandonText, Arial;
}

.container {
  padding: 3rem 12rem;
}

.recipes {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 4rem;
  background-color: #9c6644;
  border: solid 4px #7f5539;
  border-radius: 30px;
  justify-content: space-around;
}

.recipes-two {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 4rem;
  background: #7f5539;
  border: solid 4px #9c6644;
  border-radius: 30px;
  justify-content: space-around;
}

.photos-menu {
  height: 300px;
  width: 50%;
  border-radius: 15px;
}

.description {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #ede0d4;
}

p {
  color: #ede0d4;
  text-align: inherit;
  font-size: 1.1rem;
}
