* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: BrandonText, Arial;
}

body {
  background: #e6ccb2;
}
hr {
  border-color: #e6ccb2;
  width: 100%;
}
.introdution {
  display: flex;
  align-items: center;
  padding: 8rem 1rem 1rem 1rem;
}

.introdution-two {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}
h2 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
  color: #7f5539;
}

.about {
  background-color: #9c6644;
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem;
  border: solid 4px #7f5539;
  border-radius: 30px;
}

.mission {
  background: #7f5539;
  border: solid 4px #9c6644;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  border-radius: 30px;
}

.border {
  padding: 2rem 12rem;
}

.img-cook {
  max-height: 450px;
}

.about-description {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}

.mission-description {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
